<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificare Succes</title>
    <link rel="stylesheet" href="../static/css/style8.css">
</head>
<body>
    <div class="background-logo-center"></div>
    <div class="container">
        <h1>Verificare Reușită!</h1>
        <p>Contul dumneavoastră a fost activat cu succes!</p>
        <p>Acum puteți <a href="/">autentificați-vă</a> și începeți să utilizați aplicația.</p>
    </div>
</body>
</html>
